@import "./reset.css";

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);


html,
body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	position: relative;

	/* aspect-ratio: 1920 / 1204; */
	/* min-height: 100vh;
    max-height: 1204px; */
	height: 100vh;
	background-color: #c4c4c4;
	color: #fff;
}


.header-slider::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		181.06deg,
		rgba(0, 0, 0, 0.2) 0.91%,
		rgba(255, 255, 255, 0) 116.71%,
		rgba(255, 255, 255, 0) 116.72%
	);
}

.header-slider__item {
	height: 100vh;
	object-fit: cover;
}

.header__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* padding-top: 48px; */
	padding-bottom: 82px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

